# Sample rc file for livestreamer-curses

# Default resolution for new streams.
# Can be a simple string
DEFAULT_RESOLUTION = 'Medium'

# A dict, the resolution will be the value of the key that match the URL
# If none match, '480p' (hardcoded) is used
DEFAULT_RESOLUTION = {
    'twitch.tv': 'Medium',
    'foo.eu'   : '480p'
}

# Or a function which takes the URL and return the corresponding resolution
def DEFAULT_RESOLUTION(url):
    if 'twitch' in url:
        return 'Medium'
    else:
        return '480p'

# List of different commands to call livestreamer. Cycle with L.
# {{key}} can be used anywhere in the command line, where key can be
# id, url, name, res, views, last_seen, online
# NOTE: url and resolution are appended automatically
LIVESTREAMER_COMMANDS = [
    "livestreamer -p 'vlc --qt-minimal-view --meta-title {{name}}'",
    "livestreamer -p 'vlc --qt-minimal-view' --rtmpdump-proxy localhost:1234"
]

# Whether to check for online streams on start
CHECK_ONLINE_ON_START = False

# Check for online streams each N seconds
# 0 to disable
CHECK_ONLINE_INTERVAL = 60
